/*
form / input / button / h1
those css element should be changed to class or id  - Max
*/

label{
    display: block;
    text-align: center;
}

form {
    padding: 20px 0;
    position: relative;
}

/* form input */
input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: white;
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 10px auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 300;
}

select{
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: white;
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 10px auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 300;
}

/* form button */
button {
    appearance: none;
    outline: 0;
    /* background-color: black; */
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
}

/* form h1 */
h1 {
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
}

.selectionBox {
    background-color: white;
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    margin: 10px auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 300;
}

label {
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
}

.password {
    margin-right: -50px;
}

.togglePass {
    width: 50px;
    height: auto;
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.loginContainer {
    margin: 10% auto;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.errorMsg {
    font-size: 12px;
    color: orange;
}

.step{
    display: block;
    text-align: center;
}

.Select-box{
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: black;
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 10px auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 300;
}

.ProgressBar{
    width:50%; /* or whatever width you want. */
    position: absolute;

    top: 10%;
    margin: 10% auto;
    
    text-align: center;
    
}

.logoContainer {
    display: grid;
    align-items: center; 
    grid-template-columns: 0fr 0fr 0fr;
    column-gap: 0px;
    position: absolute;
    top: 5%;
   }

.profileContainer{
    width: 500px;
    /* position: fixed; */
    /* margin: 10% auto; */
    /* padding: 80px 0; */
    text-align: center;
    /* overflow: auto; */
    
    
}

.profileButtonNext{
    /* position: absolute; */
    /* right: 370px; */
    width: 225px;
    /* right: 0px;    */
    margin: 0 auto;
}

.profileButtonBack{
    /* position: absolute; */
    width: 225px;
}

.profileLogo{
    width: 250px;
    height: 100px;
    /* float: left; */
}
.profileLogoName{
    display: inline;
    
}
   
.logoText {
    position: relative;
    right: 35%;
    font-size: 40px;
   }

.profileInput{
    width: 500px;
    margin-top: 30px;
    font-size: 25px;
    background-color: #282c34;
    border-color: white;
    color: white;
}

.profileInput::placeholder{ 
    color: white;
}

.profileForm {
    /* width: 625px; */
    overflow-y: auto;
    padding: 50px 50px 50px 50px;
    align-items: center;
    border: #22252c;
    border-radius: 4%;
    border-style: solid;
    border-width: 5px;
    box-shadow: 10px 10px 10px 10px #22252c; 
}