/*
form / input / button / h1
those css element should be changed to class or id  - Max
*/

form {
    padding: 20px 0;
    position: relative;
}

/* form input */
input {
    border: 1px solid rgba(252, 252, 252, 0.4);
    background-color: white;
    width: 250px;
    border-radius: 3px;
    font-family: "Source Sans Pro", sans-serif;
    padding: 10px 15px;
    margin: 10px auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: black;
    font-weight: 300;
}

/* form button */
button {
    appearance: none;
    outline: 0;
    /* background-color: black; */
    border: 0;
    padding: 10px 15px;
    color: white;
    border-radius: 3px;
    width: 250px;
    font-size: 18px;
}

/* form h1 */
h1 {
  font-family: "Source Sans Pro", sans-serif;
  padding: 10px 15px;
  margin: 0 auto 10px auto;
}

.password {
    margin-right: -50px;
}

.togglePass {
    width: 50px;
    height: auto;
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.loginContainer {
    margin: 10% auto;
    padding: 80px 0;
    text-align: center;
}

.errorMsg {
    font-size: 12px;
    color: orange;
}
