.cardImg { grid-area: img; width: 100px; height: 100px }
.cardName { grid-area: name; width: 250px;  height: 0px;}
.cardButton1 { grid-area: button1; width: 50px;  }
.cardButton2 { grid-area: button2; }
.cardPad { grid-area: pad; width: 250px; height: 60px; } 
/* width: 100px; height: 150px */




.cardContainer{
    display: grid;
    /* align-items: center;  */
    width: 550px;
    height: 150px;
    grid-template-areas:
    'pad2 pad2 pad2 pad2'
    'img name pad1 pad1'
    'img pad4 button1 button2'
    'img pad button1 button2'
    'pad3 pad3 pad3 pad3';
    gap: 10px;
    border: 1px solid;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 15px;
    /* grid-template-columns: 150px 1fr; */
    padding: 10px;
    margin-left: 5px;
    margin-right: 20px;
    box-shadow: 5px 5px 10px 10px #18191c; 
    border: #22252c;
    /* column-gap: 5px; */
}

.accept{
    background-color: transparent;
    text-align: right;
    /* background-color: green; */
}

.decline{
    background-color: transparent;
    text-align: left;
    /* background-color: red; */
}

.card-button{
    position:relative;
    /* border-radius: 50%; */
    width: 100%;
    height: 100%;
    top: 0%; 
    font-size: 50px;
    text-align: top;
    
}

.tagList{

    /* border-radius: 50%; */
    width: 300px;
    bottom: 10 ;

}